<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="sGOM">
  <title>Search Page</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="search">
    <div class="icon"></div>
    <div class="input">
      <input id="mysearch" type="text" placeholder="Search">
    </div>
    <span class="clear" onclick="document.getElementById('mysearch').value = ''"></span>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="searchBar.js"></script>
</body>
</html>