<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ui.css">
    <link rel="stylesheet" href="/css/sign.css">
    <script src="/js/utils/request.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/utils/storage-manager.js"></script>
    <script src="/js/sign.js"></script>
</head>
<body>
<form action="javascript:void(0);" id="sign-in-form">
    <table>
        <tr>
            <td><h2>로그인</h2></td>
        </tr>
        <tr>
            <td><input type="text" name="username" placeholder="ID"></td>
        </tr>
        <tr>
            <td><input type="password" name="password" placeholder="Password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="로그인" class="btn"></td>
        </tr>
        <tr>
            <td class="sign-up"><a href="sign-up">회원가입</a></td>
        </tr>
    </table>
</form>
</body>
</html>
